.btn-green {
	background-color: green;
	color: white;
	padding: 10px 15px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Lora', serif;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
	display: inline;
}
.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}
.list-inline i:hover {
	color: black;